<div>
  <div class="form-group">
    <label for="name">Address Line 1</label>
    <input
      type="text"
      [(ngModel)]="address.line1"
      (input)="addrressChange$.next()"
      placeholder="Address Line 1"
      [ngClass]="{ 'field-error': errors?.line1 }"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="name">Address Line 2</label>
    <input
      type="text"
      [(ngModel)]="address.line2"
      (input)="addrressChange$.next()"
      placeholder="Address Line 2"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="name">City</label>
    <input
      type="text"
      [(ngModel)]="address.city"
      (input)="addrressChange$.next()"
      placeholder="City"
      [ngClass]="{ 'field-error': errors?.city }"
      class="form-control"
    />
  </div>
</div>
